<div>

    <table>
        <thead>
            <tr>
                <th>titre</th>
            </tr>
        </thead>
        <tbody>
            <% for(const data of datas ){ %>
                <tr>
                    <td><%= data.label %></td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <form action="/admin/category/add" method="post">

        <input type="text" name="label" placeholder="Ici le titre de la nouvelle catégorie">

        

        <button type="submit">ajouter la catégorie</button>

    </form>

</div>