
<main id="signin">

    <form action="" method="post">
        <input type="text" name="alias" placeholder="votre alias" aria-placeholder="Renseignez votre alias">
        <input type="email" name="email" placeholder="votre adresse mail" aria-placeholder="Renseignez votre adresse mail">
        <input type="password" name="password" placeholder="votre mot de passe" aria-placeholder="Renseignez votre mot de passe">
        <button type="submit">Connexion (icône)</button>

    </form>

</main>