<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

        <link rel="stylesheet" href="/style/admin.css">
        <title>panneau administration</title>
    </head>
    <body>
        <main id="admin">
            <section>
                <h1>Administration de votre application</h1>
                <header>
                    <nav>
                        <a href="/admin">accueil</a>
                        <a href="/admin/story">articles</a>
                        <a href="/admin/user">membres</a>
                        <a href="/admin/category">catégories</a>
                        <a href="/admin/comment">commentaires</a>
                    </nav>
                </header>

                <% if (subTemplate) { %>
                    <%- include(subTemplate) %>                 
                <% } %>
                
                <% if (!subTemplate) {%>
                    <p>des statistiques d'utilisation avec des diagrammes de fifou seront intégrés ici .. ( ou pas 🤪)</p>
                <% } %>
            </section>
        </main>
    </body>
</html>
